<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.twc.imad.TwcProject.utilities.AbstractDriver"/>
      <class name="com.twc.imad.TwcProject.Ts001_Tc001_VerifyHeaderLinks"/>
      <class name="com.twc.imad.TwcProject.Ts001_Tc002_VerifyInvalidLogin"/>
      <class name="com.twc.imad.TwcProject.Ts001_Tc003_ValidateCurrentLocation"/>
      <class name="com.twc.imad.TwcProject.Ts001_Tc004_ValidateSearchFunctionality"/>
      <class name="com.twc.imad.TwcProject.Ts001_Tc005_ValidateInvalidEmailLogin"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
